






.thumb-square-small {
	height: 80px;
}

.thumb-square-medium {
	height:220px;
}

.thumb-square-large {
	height:200px;
}

.thumb-ad{
 	height: 300px; 
}

.thumb-tile{
	height: 260px;
}

.cover-object-fit {  		
  	width:300px;
  	object-fit: cover;
}

.cover {  		
  	width:260px;
  	object-fit: cover;
}

